<h1>{{league.name}}</h1>
{{#each league.teams}}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    {{log this}}
    {{#each teams}}
    <option value="{{id}}">hi</option>
    {{/each}}
  </div>
</div>
{{/each}}