<h1>{{league.name}} Standings:</h1>
{{#each league.teams}}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    {{log this}}
    <a href="/team/{{id}}" class="card-title">{{name}}</a>
  </div>
</div>
{{/each}}

