<h1>team index is working!</h1>
{{#each league.team.stats}}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    {{log this}}
    <h5 class="card-title">{{name}}</h5>

  </div>
</div>
{{/each}}