<a href="/league/new"><button type="button" class="btn btn-primary">Click here to see create a new league</button></a>

<a href="/league"><button type="button" class="btn btn-primary">Click here to see all currently running leagues</button></a>
