<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#leagueCreateModal">
    Create a new League
</button>

<!-- Modal -->
<div class="modal fade" id="leagueCreateModal" tabindex="-1" role="dialog" aria-labelledby="leagueCreateModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="leagueCreateModalLabel">Input League details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/league" method="POST" class="auth-form">
                    <div>
                        <label>Name of League:</label>
                        <input type="text" name="name" placeholder="Enter Name">
                    </div>
                    <div>
                        <label for="">Beginning Date:</label>
                        <input type="date" name="bDate" placeholder="b">
                    </div>
                    <div>
                        <label for="">End Date:</label>
                        <input type="date" name="eDate" placeholder="g">
                    </div>
                    <div>
                        <label for="">Number of Teams:</label>
                        <input type="number" name="# of teams" placeholder="#ofTeams">
                    </div>
                    <button type="submit">Next:</br>Add Teams/Create league</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#chooseLeagueModal">
    Choose an existing League
</button>

<!-- Modal -->
<div class="modal fade" id="chooseLeagueModal" tabindex="-1" role="dialog" aria-labelledby="chooseLeagueModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="chooseLeagueModalLabel">Choose League</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                {{#each league}}
                <a href="/league/{{id}}">{{name}}</a>
                {{/each}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>