{{stats}}
<h1>Insert new values then select team to apply them.</h1>

<div>
    <select name="stats" id="statsUpdate">
        <option ></option>
        {{#each league.teams}} 
        <option value="{{stats._id}}">{{name}}</option>
        {{/each}}
    </select>
</div>


<form action="/league/{{league._id}}/teams" method="POST" class="auth-form">
    <div>
        <label>Points:</label>
        <input type="number" name="points">
    </div>
    <div>
        <label for="">Wins:</label>
        <input type="number" name="wins">
    </div>
    <div>
        <label for="">Losses:</label>
        <input type="number" name="losses">
    </div>
    <div>
        <label>Ties:</label>
        <input type="number" name="ties">
    </div>
    <div>
        <label for="">Goals For:</label>
        <input type="number" name="goalsFor">
    </div>
    <div>
        <label for="">Goals Against:</label>
        <input type="number" name="goalsAgainst">
    </div>

    <!-- Button trigger modal -->
    <button type="submit" class="btn btn-primary">
        Update Stats
    </button>

</form>