<form action="/league/{{league._id}}/teams" method="POST" class="auth-form">
    <div>
        <label>Name of team:</label>
        <input type="text" name="name" placeholder="Enter Name">
    </div>
    <div>
        <label for="">Team Motto:</label>
        <input type="text" name="motto" placeholder="Motto">
    </div>
    <div>
        <label for="">Team logo</label>
        <input type="img" name="logo" placeholder="Logo">
    </div>
    <button type="submit">Next:</br>Add Teams</button>
</form>